@media only screen {
	body {
		margin: 0 auto !important;
		max-width: 1000px;
	}
}

div#bodyDiv {
	overflow: auto;
	height: 40em;
}

table#pokemonTable {
	width: 98%;
	border: 1px solid lightgray;
	margin-top: 5px;
}

div.searchRow{
	margin: 10px;
	display: inline-block;
	width: 80%;
}

div.searchDiv{
	display: inline-block;
	margin-right: 5%;
	margin-left: 5%;
	width: 60%;
}

div.typeDiv{
	display: inline-block;
	width: 30%;
}

input {
	width: 100%;
}

select {
	width: 100%;
}

button {
	width: '100%';
    border: 1px solid darkcyan;
    cursor:pointer;
    overflow: hidden;
	outline:none;
	color: darkcyan;
}

select {
	height: 100%
}

button.inActiveTab {
	width: 100%;
	display: block;
	background-color: white;
	color: darkcyan;
}

button.activeTab {
	width: 100%;
	display: block;
	background-color: darkcyan;
	color: white;
}
